{% load bootstrap3 %}

<div class="panel panel-info">
    <div class="panel-heading"><h4>Travel to</h4></div>
    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Planet</th>
                <th>Distance</th>
                <th>Fuel Burned</th>
                <th/>
            </tr>
        </thead>
        <tbody>
            {% if not ship.is_home_location_in_range and not ship.is_home %}
                <tr class="success">
                    <td><a href="{% url 'location' ship.home_location.id %}">{{ ship.home_location.name }}</a></td>
                    <td>?? LY</td>
                    <td>100%</td>
                    <td>
                    <a href="{% url 'ship-travel-to-home-location' ship.id %}" class="btn btn-xs btn-success">{% bootstrap_icon 'transfer' %} Warp to Home Planet</a>
                    </td>
                </tr>
            {% endif %}
            {% for location in locations %}
                <tr>
                    <td><a href="{% url 'location' location.id %}">{{ location.name }}</a></td>
                    <td>{{ location.distance|floatformat:2 }} LY</td>
                    <td>{{ location.fuel_burned_percent|floatformat:0 }}%</td>
                    <td>
                        {% if ship.location.id != location.id %}
                        <a href="{% url 'ship-travel-to-location' ship.id location.id %}" class="btn btn-xs btn-success">{% bootstrap_icon 'transfer' %} Warp to Planet</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>