{% load staticfiles %}
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading"><h2><a href="{% url 'ship-travel' ship.id %}">{{ ship.name }}</a><small> {{ ship.model }}</small></h2></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'ui/images/ships/'|add:ship.image_name %}" style="width:200px;height:200px">
                </div>
                <div class="col-md-6">
                    <dl class="">
                        <dt>Orbiting</dt>
                        <dd>{{ ship.location.name }}</dd>
                        <dt>Cargo</dt>
                        <dd>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" style="min-width: 6em; width: {{ ship.cargo_load_percent }}%">{{ ship.cargo_used }} / {{ ship.cargo_capacity }}</div>
                            </div>

                        </dd>
                        <dt>Fuel</dt>
                        <dd>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: {{ ship.fuel_level }}%"></div>
                            </div>
                        </dd>
                        <dt>Range</dt>
                        <dd>{{ ship.current_range }}</dd>
                        <dt>Home Planet</dt>
                        <dd><a href="{% url 'location' ship.home_planet.id %}">{{ ship.home_planet.name }}</a></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>