{% load staticfiles %}
{% load bootstrap3 %}
{% load staticfiles %}
<style>
    .ship-inset {
        background-image: url({% static 'ui/images/ships/'|add:ship.image_name %});
        background-position: -90px center;
        background-repeat: no-repeat;
        background-size: 200px 200px
    }

</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4><a href="{% url 'ship' ship.id %}">Ship</a><small> {{ ship.model }}</small></h4></div>
            <div class="panel-body">
                <div class="row ship-inset">
                    <div class="col-md-10 col-md-offset-2">
                        <dl class="">
                            <dt>Orbiting</dt>
                            <dd>{{ ship.planet.name }}</dd>
                            <dt>Cargo</dt>
                            <dd>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" style="min-width: 6em; width: {{ ship.cargo_load_percent }}%">{{ ship.cargo_used }} / {{ ship.cargo_capacity }}</div>
                                </div>

                            </dd>
                            <dt>Fuel</dt>
                            <dd>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active" style="min-width: 6em; width: {{ ship.fuel_level }}%">{{ ship.fuel_level|floatformat:0 }} %</div>
                                </div>
                            </dd>
                            <dt>Range</dt>
                            <dd>{{ ship.current_range|floatformat:2 }} <abbr title="Light Years">LY</abbr></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>