{% load staticfiles %}
{% load bootstrap3 %}
{% load humanize %}
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>{{ ship.name }}<small> {{ ship.model }}</small></h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <h1>{% bootstrap_icon 'yen' %}{{ ship.owner.credits|intcomma }}</h1>
                </div>
                <div class="col-md-6">
                    <dl class="">
                        <dt>Cargo</dt>
                        <dd>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active" style="min-width: 6em; width: {{ ship.cargo_load_percent }}%">{{ ship.current_cargo_load }} / {{ ship.cargo_capacity }}</div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="3" style="text-align:center">Cargo</th>
                </tr>
                <tr>
                    <th>Good</th>
                    <th>Quantity</th>
                    <th/>
                </tr>
            </thead>
            <tbody>
                {% for cargo in ship.cargo.all %}
                <tr>
                    <td>{{ cargo.name }}</td>
                    <td>{{ cargo.quantity }}</td>
                    <td/>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>