{% load staticfiles %}
{% load bootstrap3 %}
{% load sbo_ship_tags %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h4>{{ shipyard.name_display }} <small> {% bootstrap_icon 'plane' %} ShipYard</small></h4></div>
            {% include 'shipyards/p_shipyard_upgrades.html' with shipyard=shipyard location=location ship=ship upgrade_blurb=upgrade_blurb %}
            {% include 'shipyards/p_shipyard_ships.html' with shipyard=shipyard location=location ship=ship %}

            <div class="panel-footer">
                <a class="btn btn-xs btn-warning" href="{% url 'shipyard-seed-upgrades' ship.id shipyard.id %}">Seed Upgrades</a>
                <a class="btn btn-xs btn-warning" href="{% url 'shipyard-seed-ships' ship.id shipyard.id %}">Seed Ships</a>

            </div>
        </div>
    </div>
</div>