{% load humanize %}
{% load bootstrap3 %}
{% load sbo_ship_tags %}
<div class="panel-body">
    Upgrades available at this ShipYard
</div>
<table class="table table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th colspan="5" style="text-align:center">Upgrades</th>
        </tr>
        <tr>
            <th>Upgrade</th>
            <th>Size</th>
            <th>Capacity</th>
            <th style="text-align:right">Cost</th>
            <th/>
        </tr>
    </thead>
    <tbody>
        {% for upgrade in shipyard.upgrades_by_cost.all %}
            <tr {% if ship|can_buy_upgrade:upgrade %}{% else %}class="text-muted"{% endif %}>
                <td>{{ upgrade.name }}</td>
                <td style="text-align:left">{{ upgrade.size|intcomma }}</td>
                <td style="text-align:center">{{ upgrade.capacity }}</td>
                <td style="text-align:right">{% bootstrap_icon 'yen' %}{{ upgrade.cost|intcomma }}</td>
                {% if ship|can_buy_upgrade:upgrade %}
                    <td><a href="{% url 'shipyard-buy-upgrade' ship.id shipyard.id upgrade.id %}" class="btn btn-xs btn-success">Buy</a></td>
                {% else %}
                    <td/>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
