{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

{% include "locations/p_ship_location_header.html" with ship=ship location=ship.location active_page="shipyard" %}
{% include "general/p_user_header.html" with user=ship.owner %}

<div class="row">
    <div class="col-md-6">
        {% include "ships/p_ship_upgrades.html" with ship=ship %}
    </div>
    <div class="col-md-6">
        {% include "shipyards/p_shipyard_goods.html" with ship=ship planet=planet shipyard=shipyard upgrade_blurb=upgrade_blurb %}
    </div>
</div>
{% endblock %}