{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="btn-group">
            <a href="{% url 'planets-create-random' %}" class="btn btn-sm btn-info">{% bootstrap_icon 'refresh' %} Random</a>
            <a href="{% url 'planets-create-multiple' 10 %}" class="btn btn-sm btn-default">{% bootstrap_icon 'refresh' %} Create 10</a>
            <a href="{% url 'planets-create-multiple' 50 %}" class="btn btn-sm btn-default">{% bootstrap_icon 'refresh' %} Create 50</a>
            <a href="{% url 'planets-create-multiple' 100 %}" class="btn btn-sm btn-default">{% bootstrap_icon 'refresh' %} Create 100</a>
            <a href="{% url 'planets-destroy-unoccupied' %}" class="btn btn-sm btn-danger">{% bootstrap_icon 'trash' %} Destroy Unoccupied</a>
            <a href="{% url 'planets-destroy-all' %}" class="btn btn-sm btn-danger">{% bootstrap_icon 'trash' %} Destroy All</a>
        </div>
    </div>
    <div class="col-md-8">

        {% for location in locations %}
            {% include "locations/p_location_list_item.html" with location=location %}
        {% endfor %}

        <ul class="pagination">
            {% if locations.has_previous %}
            <li>
              <a href="?page={{ locations.previous_page_number }}" aria-label="Previous">&laquo;</a>
            </li>
            {% endif %}
            {% for page in locations.paginator.page_range %}
                {% if page == locations.number %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if locations.has_next %}
            <li>
              <a href="?page={{ locations.next_page_number }}" aria-label="Next">&raquo;</a>
            </li>
            {% endif %}
          </ul>
    </div>
</div>
{% endblock %}