{% load bootstrap3 %}

<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>In Orbit</h3>
        </div>
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th/>
                    <th>Ship</th>
                    <th>Owner</th>
                    <th/>
                </tr>
            </thead>
            <tbody>
                {% for orbiter in location.orbiters.all %}
                <tr>
                    {% if orbiter.is_home %}
                    <td>{% bootstrap_icon 'star' %}</td>
                    {% else %}
                    <td/>
                    {% endif %}
                    <td>{{ orbiter.model }}</td>
                    <td>
                        {% if orbiter.owner %}
                        {{ orbiter.owner.user.username }}
                        {% else %}
                        Not owned
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'ship' orbiter.id %}" class="btn btn-sm btn-default">{% bootstrap_icon 'fullscreen' %} Open</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>