{% load bootstrap3 %}
{% load humanize %}
{% load staticfiles %}
<style>
    .planet-inset {
        background-image: url({% static 'ui/images/planets/'|add:planet.image_name %});
        background-position: left center;
        background-repeat: no-repeat;
    }

    .planet-title {
        position: absolute;
        color: black;
        bottom: 35px;
        right: 30px;
        font-size: 1.75em;
    }

    .location-header {
        font-size: 6em;
        margin-top:-90px;
        margin-bottom:-20px;
        letter-spacing: 0.5em;
        z-index:-9000;
    }
    .div_text_shadow
{
color: rgb(255, 255, 255);


text-shadow: 1px 1px 0 rgb(200,200,200), -1px -1px 0 rgb(200,200,200), 1px -1px 0 rgb(200,200,200), -1px 1px 0 rgb(200,200,200);
}
</style>

<div class="row">
    <div class="col-md-12 text-center location-header div_text_shadow" >{{ active_page }}</div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well planet-inset" style="text-align:center">

            <a href="{% url 'ship-refuel' ship.id %}" class="btn btn-default btn-md">{% bootstrap_icon 'flash' %} Refuel</a>
            <a href="{% url 'ship-travel' ship.id %}" class="btn btn-default btn-md" {% if active_page == "travel" %}disabled{% endif %}>{% bootstrap_icon 'globe' %} Travel</a>
            <a href="{% url 'marketplace' ship.id planet.id %}" class="btn btn-default btn-md" {% if active_page == "marketplace" %}disabled{% endif %}>{% bootstrap_icon 'yen' %} Marketplace</a>
            {% if planet.shipyards.count > 0 %}
            <a href="{% url 'shipyard' ship.id planet.shipyards.all.0.id %}" class="btn btn-default btn-md" {% if active_page == "shipyard" %}disabled{% endif %}>{% bootstrap_icon 'plane' %} Shipyard</a>
            {% endif %}
            <span class="planet-title">{{ planet.name }} {% bootstrap_icon 'globe' %}</span>
        </div>
    </div>
</div>
