{% load bootstrap3 %}
{% load staticfiles %}

<div class="row">
    <div class="col-md-2">
        <img src="{% static 'ui/images/planets/'|add:planet.image_name %}" style="width:100px;height:100px">
    </div>
    <div class="col-md-8">
        <h2>{{ planet.name }}</h2>
        <dl class="dl-horizontal">
            <dt>Imports</dt>
            <dd>{{ planet.imports.count }}</dd>
            <dt>Exports</dt>
            <dd>{{ planet.exports.count }}</dd>
        </dl>
    </div>
    <div class="col-md-2">
        <div class="btn-group">
            <a href="{% url 'planet' planet.id %}" class="btn btn-success btn-xs">{% bootstrap_icon 'eye-open' %} Open</a>
            {% if planet.orbiters.count > 0 %}
            <a href="#" class="btn btn-danger btn-xs" disabled>{% bootstrap_icon 'trash' %}</a>
            {% else %}
            <a href="{% url 'planet-remove' planet.id %}" class="btn btn-danger btn-xs" >{% bootstrap_icon 'trash' %}</a>
            {% endif %}
        </div>
    </div>
</div>