{% load staticfiles %}
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading"><h2>{{ planet.name }}<small> Planet</small></h2></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{% static 'ui/images/planets/'|add:planet.image_name %}" style="width:200px;height:200px">
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>X Coordinate</dt>
                        <dd>{{ planet.x_coordinate }}</dd>
                        <dt>Y Coordinate</dt>
                        <dd>{{ planet.y_coordinate }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="3" style="text-align:center">Imports</th>
                </tr>
                <tr>
                    <th>Good</th>
                    <th>Price</th>
                    <th/>
                </tr>
            </thead>
            <tbody>
                {% for import in planet.imports.all %}
                <tr>
                    <td>{{ import.name }}</td>
                    <td>{{ import.price|floatformat:2 }}</td>
                    <td/>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="3" style="text-align:center">Exports</th>
                </tr>
                <tr>
                    <th>Good</th>
                    <th>Price</th>
                    <th/>
                </tr>
            </thead>
            <tbody>
                {% for export in planet.exports.all %}
                <tr>
                    <td>{{ export.name }}</td>
                    <td>{{ export.price|floatformat:2 }}</td>
                    <td/>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>