{% load bootstrap3 %}

<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>In Orbit</h3>
        </div>
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Ship</th>
                    <th/>
                </tr>
            </thead>
            <tbody>
                {% for orbiter in planet.orbiters.all %}
                <tr>
                    <td>{{ orbiter.model }}</td>
                    <td>
                        <a href="{% url 'ship' orbiter.id %}" class="btn btn-sm btn-default">{% bootstrap_icon 'eye-open' %} View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>